.one{
    background-image: url(Resources/image.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50rem;
    border-radius: 8px;
}
.move{
    font-size: 3.5rem;
    background: black;
    color: white;
    position: absolute;
    top: 20.5rem;
    left: 21rem;
    padding: 15px 30px;
    text-align: center;
}

.two{
    background-image: url(Resources/image_2.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50rem;
    border-radius: 8px;
}

.movetwo{
    background: #f3f3f3;
    color: black;
    position: absolute;
    padding: 68px 15px;
    width: 96%;
    top: 65rem;
    font-size: 1.4rem;
    line-height: 1;
    text-align: center;
}

.three{
    background-image: url(Resources/image_3.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50rem;
    border-radius: 8px;
}

.movethree{
    background: black;
    color: white;
    position: absolute;
    padding: 5rem 1rem;
    width: 96%;
    top: 114rem;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
}